<section *ngIf="categiryDetails._id" class="w-75 mx-auto rounded shadow bg-main-light">
  <div class="row g-5 align-items-center">
    <div class="col-md-6">
      <img width="100%" [src]="categiryDetails.image" [alt]="categiryDetails.name" />
    </div>
    <div class="col-md-6">
      <h2>{{ categiryDetails.name }}</h2>
    </div>
  </div>
  
  <div  [class.d-none]="flag" class="row my-4 g-4 justify-content-center">
    <div
      class="rounded-3 col-sm-6 col-md-4 col-lg-3"
      *ngFor="let item of Subcategory"
    >
      <div
       
        role="button"
        class="border border-success rounded p-2 shadow"
      >
       
        <h3 class="h5 text-center">{{ item.name }}</h3>
      </div>
    </div>
  </div>
</section>
